<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-github"></i>
    </div>
    <div class="f-info-brand">
      &copy; 2025 <strong style="color: #818cf8;">Neuro_Mentor</strong> &mdash; ARA Group of Companies Pvt. Ltd.
    </div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
      <a href="/listings">Browse Educators</a>
      <a href="/#contact">Contact Us</a>
      <a href="/join">Join Us</a>
    </div>
  </div>
</footer>